@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Bold.eot');
    src: local('Mabry Pro Bold'), local('./font/MabryPro-Bold'),
        url('./font/MabryPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Bold.woff2') format('woff2'),
        url('./font/MabryPro-Bold.woff') format('woff'),
        url('./font/MabryPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Medium.eot');
    src: local('Mabry Pro Medium'), local('./font/MabryPro-Medium'),
        url('./font/MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Medium.woff2') format('woff2'),
        url('./font/MabryPro-Medium.woff') format('woff'),
        url('./font/MabryPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Black.eot');
    src: local('Mabry Pro Black'), local('./font/MabryPro-Black'),
        url('./font/MabryPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Black.woff2') format('woff2'),
        url('./font/MabryPro-Black.woff') format('woff'),
        url('./font/MabryPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-LightItalic.eot');
    src: local('Mabry Pro Light Italic'), local('./font/MabryPro-LightItalic'),
        url('./font/MabryPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-LightItalic.woff2') format('woff2'),
        url('./font/MabryPro-LightItalic.woff') format('woff'),
        url('./font/MabryPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-BoldItalic.eot');
    src: local('Mabry Pro Bold Italic'), local('./font/MabryPro-BoldItalic'),
        url('./font/MabryPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-BoldItalic.woff2') format('woff2'),
        url('./font/MabryPro-BoldItalic.woff') format('woff'),
        url('./font/MabryPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Light.eot');
    src: local('Mabry Pro Light'), local('./font/MabryPro-Light'),
        url('./font/MabryPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Light.woff2') format('woff2'),
        url('./font/MabryPro-Light.woff') format('woff'),
        url('./font/MabryPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-BlackItalic.eot');
    src: local('Mabry Pro Black Italic'), local('./font/MabryPro-BlackItalic'),
        url('./font/MabryPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-BlackItalic.woff2') format('woff2'),
        url('./font/MabryPro-BlackItalic.woff') format('woff'),
        url('./font/MabryPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-MediumItalic.eot');
    src: local('Mabry Pro Medium Italic'), local('./font/MabryPro-MediumItalic'),
        url('./font/MabryPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-MediumItalic.woff2') format('woff2'),
        url('./font/MabryPro-MediumItalic.woff') format('woff'),
        url('./font/MabryPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Italic.eot');
    src: local('Mabry Pro Italic'), local('./font/MabryPro-Italic'),
        url('./font/MabryPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Italic.woff2') format('woff2'),
        url('./font/MabryPro-Italic.woff') format('woff'),
        url('./font/MabryPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('./font/MabryPro-Regular.eot');
    src: local('Mabry Pro'), local('./font/MabryPro-Regular'),
        url('./font/MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/MabryPro-Regular.woff2') format('woff2'),
        url('./font/MabryPro-Regular.woff') format('woff'),
        url('./font/MabryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --cont1-color: #F4C6D7;
    --cont2-color:#FFFFFF;
    --cont3-color: #E8E8EC;
}

body {
    font-family: Mabry pro;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    color: black;
}

a:hover{
    color: #ff90e8;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
}

hr {
    width: 70%;
    margin-left: 0px;
}

.cont1 {
    background-color: var(--cont1-color);
    padding-left: 20px;
}

.cont2 {
    background-color: var(--cont2-color);
    padding-left: 20px;
}

.cont3 {
    background-color: var(--cont3-color);
    padding-left: 20px;
}


@media (min-width:960px){

.box2 {
    display: flex;
    justify-content: space-between;
}

.cont1 {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.cont1 .picture {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.cont1 .info{
    flex-basis: 65%;
}

.cont2 {
    flex-basis: 25%;
}

.cont3 {
    flex-basis: 65%;
}
}


.job {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.job-year {
    margin-top: 0px;
    padding-top: 0px;
}

#pp {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-icon{
    max-width: 5%;
    height: auto;
    border-radius: 25%;
    border: 2px solid black;
}

.social {
    display: flex;
    gap: 20px;
    padding-bottom: 5px;
}